@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #151c2c;
  --text: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-background-color {
  background-color: #182237;
}

.background-color-search-bar {
  background-color: #2e3742;
}

.custom-text-color {
  color: #b7bac1;
}
